.playerbox{
  display: flex;
  height: 100vh;
  width: 100vw;
}
.left-box {
  background-color: black;
  text-align: center;
  height: 100%;
  width: 60%; 
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px blue;
}

.right-box {
  display: flex;
  flex-direction: column;
  background-color: #435ee8;
  text-align: center;
  height: 100%;
  width: 40%;
  color: black;
  border-top: 2px solid #6357bc;
  border-bottom: 2px solid #6357bc;
  border-right: 2px solid #6357bc;
}
.top-left-box {
  height: 100%;
  width: 100%;
}

.bottom-left-box {
  height: 40%;
  background-color: #e843cd;
  border-top: 2px solid #6357bc;
}
