.dashboard2{
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-image: linear-gradient(125deg,#3b52e6,#6976cf,#96a0de,#2e218f,#5a4fad,#8076c4);
  animation: gradientAnimation 20s  infinite;
  background-size: 400%;
  background-attachment: fixed;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}
@keyframes gradientAnimation{
  0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  
}
.container {
  display: flex;
  border-radius: 10px; 
  padding: 10px;
  margin: 50px;
  background-color: #FFFFFF;
  height:450px;
}
.box {
  flex: 1;
  border: 2px solid #435EE8; 
  background-color: #DBE7FA;
  padding: 20px;
  margin-top:20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  overflow-y: scroll;
}
.text {
  color: #435ee8;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 34.5px;
  font-weight: 700;
  width: 286px;
  text-align: center;
  position: relative;
  left: 10%;
  }
.profileWrapper{
  height: 100%;
  width: 100%;
}